.detailsMain {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.detailsHead {
  margin-bottom: 3rem;
  .detailsTitle {
    text-transform: capitalize;
  }
  svg {
    fill: #ffcb05;
    font-size: 3rem;
    cursor: pointer;
  }
}
