.favMain {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

h1 {
  margin-bottom: 3rem;
}

.favList {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    box-shadow: 2px 2px 5px #e1e1e1;
    background-color: white;
    text-transform: capitalize;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    a {
      text-decoration: none;
      color: black;
    }
    svg {
      fill: #ffcb05;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}